*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position:absolute;
    width: 100%;
    top:0;
    left: 0;
    z-index: 11;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    transition: 0.3s;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #35a22c;
    
}
.navbar-light .navbar-nav .nav-link::before{
    display: block;
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background-color: #35a22c;
    transition:0.5s;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 100%;
}
header .navbar-light .navbar-nav .active>.nav-link{
    color: #35a22c;
}
header .navbar-light .navbar-nav .active>.nav-link::before{
    color: #35a22c;
    width: 100%;
}
.animate__animated.animate__bounceInUp {
    --animate-duration: 2s;
  }
.navbar-brand i{
    color: #35a22c;
    font-size: 45px;
    padding-right: 20px;
}
.navbar-brand span {
    font-size: 36px;
}
/* Carousel */
#carousel{
    position: relative;
    /* background: rgba(39,43,54,.5);
    width: 100%;
    height: 100%; */
}
.carousel_bg{
    height: 100vh;
    object-fit: cover;
   opacity: 0.7;
}
#carousel .carousel-caption img{
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#carousel .carousel-caption{
    bottom: 30%;
}
#carousel .carousel-caption h5 {
    font-size: 3rem;
}
#carousel .carousel-caption p {
    font-size: 24px;
}
#carousel .carousel-item::before{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.4);
    top: 0;
    left: 0;
}

.carousel-indicators li{
    border-radius: 50%;
    height: 13px;
    width: 13px;
}
.carousel-indicators li.active{
    background-color: #35a22c;
}
/* products */
.product__title p {
    font-size: 15px;
    color: #585858;
    font-weight: 400;
    padding: 10px 140px;
}
#products .item__content{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 450px;
    text-align: center;
    cursor: pointer;

}
.nav-pills .nav-link, .nav-pills .show>.nav-link{
    border: 1px solid black;
    margin-right: 10px;
    color:#454545;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #35a22c;
    border: #35a22c;
}
#products .item__content img{
    height: 350px;
    object-fit: cover;
}
#products .item__content .title{
    padding: 15px;
    height: 100px;
    border: 1px solid white;
 
    transform: 0.3s;
}
#products .item__content:hover .title{
    color: #35a22c;
    border-color:#35a22c;
    /* border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
    border-radius:0 0 16px 16px;
    border-top-color: white;
}
#products .item__content:hover p{
    color: black;
}
/* feature */
.feature{
    background-image: url(./image/3.jpg);
    background-color:rgb(0, 0, 0,1);
    background-position: center top ;
    background-attachment: fixed;
    background-size: cover;
   
}
.overlay{
    background: rgba(7,10,12,0.7);
    padding-bottom: 100px;
}
.feature__item{
    background: rgba(255,255,255,.1);
    padding: 40px 40px;
    border-radius: 10px;
    border:1px solid rgba(255,255,255,.1);
    transition: 0.5s;
}
.feature__item:hover{
    background: #000;
    border: 1px solid white;
}
.feature__item i {
    color: #35a22c;
    font-size: 48px;
}
.feature__item h4{
    font-size: 20px;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}
.feature__item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
}
/* Award */
.award{
    position: relative;
    padding: 70px 0;
}
.award__bg{
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity:0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.award__left{
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
}
/* footer */
footer{
    background-color:#222222;
}
.footer__main i{
    margin-right: 10px;
    padding: 12px 13px;
    color:#aaa;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s;
}
footer i:hover{
    border-color: #35a22c;
}
.footer__main{
    border-bottom: 1px solid rgba(128, 128, 128,0.5);
    padding: 30px;
}
.footer__copies{
    padding: 30px;
    color: #aaa;
}
.footer__copies a {
    color: #aaa;
}